In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('impact-drill.csv')

In [3]:
df.head()

  Category Name   Unit  Price
0  Impact Drill  Piece      2
1  Impact Drill  Piece    675
2  Impact Drill  Piece    766
3  Impact Drill  Piece    900
4  Impact Drill  Piece   1000

In [4]:
df_needed = df['Price']

In [5]:
len(df_needed)

247

In [6]:
df_needed.head()

0       2
1     675
2     766
3     900
4    1000
Name: Price, dtype: int64

In [7]:
df_distance = pd.DataFrame(columns=['distance'])

In [8]:
df_new = df_needed.copy()

In [9]:
count=0
for i in df_needed:
    distance = 0
    for j in df_new:
        distance = distance+ abs(i-j)
    df_distance.loc[count,'distance']=distance
    count=count+1

In [10]:
df_distance.head()

    distance
0  1622334.0
1  1457449.0
2  1435336.0
3  1403042.0
4  1379142.0

In [11]:
len(df_distance)

247

In [12]:
for i in df_distance['distance']:
    print(i)

1622334.0
1457449.0
1435336.0
1403042.0
1379142.0
1379142.0
1379142.0
1367492.0
1367492.0
1363141.0
1356104.0
1356104.0
1344954.0
1339429.0
1334173.0
1333956.0
1333956.0
1323306.0
1314866.0
1309432.0
1302394.0
1302394.0
1295695.0
1272379.0
1272379.0
1272182.0
1272182.0
1252882.0
1252882.0
1252126.0
1246703.0
1245963.0
1238094.0
1236284.0
1234494.0
1234494.0
1232744.0
1230495.0
1230153.0
1227956.0
1227455.0
1225970.0
1225970.0
1221301.0
1219234.0
1219077.0
1210242.0
1202592.0
1201686.0
1187829.0
1187829.0
1187684.0
1187684.0
1186556.0
1185027.0
1181465.0
1180790.0
1176933.0
1174182.0
1174182.0
1174182.0
1174182.0
1172337.0
1172095.0
1168882.0
1168531.0
1168301.0
1168188.0
1168188.0
1168079.0
1166474.0
1163219.0
1162910.0
1162708.0
1160332.0
1158683.0
1158018.0
1154577.0
1154304.0
1153681.0
1153420.0
1153420.0
1153420.0
1150747.0
1149878.0
1147106.0
1147106.0
1145719.0
1145648.0
1145648.0
1142298.0
1141713.0
1140390.0
1140329.0
1139208.0
1139208.0
1139208.0
1139208.0
1139208.0
1137052.0
1134420.0
1133115.0
1132212.0
1131064.0
1130245.0
1130208.0
1129753.0
1129753.0
1128606.0
1127823.0
1127229.0
1127229.0
1127229.0
1127208.0
1126087.0
1125560.0
1125455.0
1125429.0
1125319.0
1124509.0
1124502.0
1124502.0
1124214.0
1124212.0
1124233.0
1124293.0
1124363.0
1124545.0
1124545.0
1125051.0
1125077.0
1126622.0
1126945.0
1127268.0
1127352.0
1128019.0
1128819.0
1129602.0
1130762.0
1130762.0
1131851.0
1132621.0
1135766.0
1135766.0
1137857.0
1137857.0
1137992.0
1141987.0
1144045.0
1144045.0
1145476.0
1153836.0
1163127.0
1168260.0
1179301.0
1181632.0
1181697.0
1183774.0
1183774.0
1183774.0
1183774.0
1185199.0
1185199.0
1201473.0
1215243.0
1220555.0
1223190.0
1224060.0
1224060.0
1224060.0
1242660.0
1243610.0
1252340.0
1253627.0
1269484.0
1282874.0
1284869.0
1284869.0
1287703.0
1292698.0
1292698.0
1301898.0
1320618.0
1322046.0
1329064.0
1333984.0
1357734.0
1357734.0
1366764.0
1432264.0
1442904.0
1459104.0
1491984.0
1504494.0
1507314.0
1509316.0
1528891.0
1602391.0
1602540.0
1602540.0
1602540.0
1614940.0
1680880.0
1680880.0
1680880.0
1688215.0
1782265.0
1783100.0
1847320.0
1877929.0
1933462.0
1933462.0
1933462.0
1970336.0
2164730.0
2279837.0
2281502.0
2352936.0
2356149.0
2364362.0
2460862.0
2544712.0
2544712.0
2630282.0
2644352.0
2703425.0
3535520.0
3579818.0
4237332.0
4442002.0
4853092.0
4853092.0
5535557.0
5543003.0
5636044.0
6046364.0
7207364.0
7207364.0
7793375.0
7860134.0
8032088.0
8324428.0
8675425.0
10145514.0
11962172.0
11962172.0
11962172.0

In [13]:
sum = 0
for i in df_needed:
    sum = sum + i

In [14]:
average = sum/247

In [16]:
average

6570.153846153846

In [17]:
df_distance['distance'][0]/247

6568.153846153846

In [18]:
count=0
for i in df_distance['distance']:
    if ((i/247)> (average*1.5)) or ((i/247) < (average*0.1)) or (df_needed[count] < average * 0.1):
        print("Outlier "+str(count))
    count= count+1

Outlier 0
Outlier 220
Outlier 221
Outlier 222
Outlier 223
Outlier 224
Outlier 225
Outlier 226
Outlier 227
Outlier 228
Outlier 229
Outlier 230
Outlier 231
Outlier 232
Outlier 233
Outlier 234
Outlier 235
Outlier 236
Outlier 237
Outlier 238
Outlier 239
Outlier 240
Outlier 241
Outlier 242
Outlier 243
Outlier 244
Outlier 245
Outlier 246

# All values from 1-219 are valid

In [19]:
df_needed[1]

675

In [20]:
df_needed[219]

12360

# Price range of impact drill is 675-12360