In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('leather-safety-gloves.csv')

In [3]:
df.head()

           Category Name  Unit  Price
0  Leather Safety Gloves  Pair     10
1  Leather Safety Gloves  Pair     12
2  Leather Safety Gloves  Pair     12
3  Leather Safety Gloves  Pair     20
4  Leather Safety Gloves  Pair     23

In [4]:
df_needed = df['Price']

In [5]:
len(df_needed)

144

In [6]:
df_needed.head()

0    10
1    12
2    12
3    20
4    23
Name: Price, dtype: int64

In [7]:
df_distance = pd.DataFrame(columns=['distance'])

In [8]:
df_new = df_needed.copy()

In [10]:
count=0
for i in df_needed:
    distance = 0
    for j in df_new:
        distance = distance+ abs(i-j)
    df_distance.loc[count,'distance']=distance
    count=count+1

In [11]:
df_distance.head()

   distance
0   60769.0
1   60485.0
2   60485.0
3   59381.0
4   58973.0

In [12]:
len(df_distance)

144

In [14]:
for i in df_distance['distance']:
    print(i)

60769.0
60485.0
60485.0
59381.0
58973.0
58705.0
58705.0
58705.0
58193.0
58067.0
57943.0
57821.0
57461.0
57461.0
57113.0
57113.0
57113.0
56893.0
56893.0
56893.0
56893.0
56893.0
56893.0
56893.0
56893.0
56423.0
56423.0
56423.0
56423.0
56423.0
56423.0
56013.0
56013.0
56013.0
56013.0
56013.0
55941.0
55871.0
55871.0
55673.0
55353.0
55353.0
55053.0
55053.0
55053.0
55053.0
55053.0
55053.0
55053.0
54961.0
54917.0
54833.0
54833.0
54833.0
54833.0
54833.0
54673.0
54673.0
54673.0
54673.0
54601.0
54557.0
54557.0
54557.0
54557.0
54557.0
54557.0
54507.0
54507.0
54477.0
54477.0
54477.0
54477.0
54479.0
54495.0
54495.0
54495.0
54495.0
54495.0
54635.0
54635.0
54635.0
54835.0
54835.0
54955.0
54955.0
55095.0
55245.0
55565.0
55735.0
55735.0
55735.0
55935.0
56565.0
56565.0
56795.0
56795.0
56795.0
56795.0
56795.0
56907.0
57081.0
57081.0
57081.0
57081.0
57081.0
57081.0
57081.0
57081.0
57081.0
57081.0
57861.0
58261.0
58589.0
58673.0
58673.0
58673.0
61373.0
62293.0
63233.0
63233.0
63233.0
63233.0
63233.0
68433.0
73733.0
75461.0
84701.0
101501.0
112331.0
122307.0
122779.0
122899.0
145835.0
145835.0
168011.0
168267.0
205707.0
223527.0
308617.0
360841.0
635875.0
1250615.0
2670047.0

In [15]:
sum = 0
for i in df_needed:
    sum = sum + i

In [16]:
average = sum/144

In [17]:
average

432.00694444444446

In [28]:
count=0
for i in df_distance['distance']:
    if ((i/144)> (average*1.5)) or ((i/144) < (average*0.5)) or (df_needed[count] < average * 0.1):
        print("Outlier "+str(count))
    count= count+1

Outlier 0
Outlier 1
Outlier 2
Outlier 3
Outlier 4
Outlier 5
Outlier 6
Outlier 7
Outlier 8
Outlier 9
Outlier 10
Outlier 11
Outlier 12
Outlier 13
Outlier 14
Outlier 15
Outlier 16
Outlier 17
Outlier 18
Outlier 19
Outlier 20
Outlier 21
Outlier 22
Outlier 23
Outlier 24
Outlier 128
Outlier 129
Outlier 130
Outlier 131
Outlier 132
Outlier 133
Outlier 134
Outlier 135
Outlier 136
Outlier 137
Outlier 138
Outlier 139
Outlier 140
Outlier 141
Outlier 142
Outlier 143

# All values from 25-127 are valid
# 128-143 are outliers

In [29]:
df_needed[25]

45

In [30]:
df_needed[127]

450

# Price range of leather-safety-gloves is 45-450